@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: DIN-Condensed;
  src: url(../fonts/DIN-Condensed-Font/D-DINCondensed-Bold.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #ffffffb3;
    --link-color: #00DBFF;
}

.gallery-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;
    background-color: #000000;
    width: 100%;
    height: 100dvh;
}

.photo-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0000005f;
    transition: all 0.7s;
}

.photo-item:hover .overlay {
    background-color: #000000b3;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.photo-item:hover .photo-img {
    filter: grayscale(100%);  
    -webkit-filter: grayscale(100%);
    transform: scale(1.05);
}

.overlay-content {
    display: none;
}

@media (min-width: 1024px) {
    .overlay-content {
        display: block;
        position: absolute;
        left: 40px;
        animation: fade-out-margin 500ms forwards;
    }
    .image-caption {
        transition: all 0.7s;
    }
    .photo-item:hover .overlay-content {
        animation: fade-in-margin 500ms forwards;
    }
    .photo-item:hover .image-caption {
        margin-bottom: 20px;
    }
    .object-classification, .object-name {
        color: var(--primary-text-color);
        font-family: DIN-Condensed;
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .object-name {
        margin-bottom: 20px;
    }
    .location {
        color: var(--secondary-text-color);
        font-family: Poppins;
        font-size: 12px;
    }
    .know-more-link {
        font-family: Poppins;
        text-decoration: none;
        color: var(--link-color);
        font-size: 14px;
        animation: fade-out 300ms forwards;
    }
    .photo-item:hover .know-more-link {
        animation: fade-in 500ms forwards;
    }
    
    .link-arrow {
        width: 12px;
        height: 12px;
        margin-left: 8px;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }        
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }        
    }
    @keyframes fade-in-margin {
        0% {
            bottom: 15px;
        }
        100% {
            bottom: 40px;
        }
    }
    @keyframes fade-out-margin {
        0% {
            bottom: 40px;
        }
        100% {
            bottom: 15px;
        }
    }

}
